{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechFnatic - Home Page</title>
    <link rel="icon" type="image/x-icon" href="{{ theme.logo.url|cut:'/admin_interface' }}">

    <!-- Bootstrap-5.2 CSS -->
    <link rel="stylesheet" href="{% static '/common/product/css/bootstrap-5.2.css' %}" >

    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="{% static '/common/product/css/slick.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/common/product/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/common/product/css/style.css' %}">

</head>

<body>
    <!-- ==== Background Video =====  -->
    <!-- <div class="bg-video">
        <video autoplay muted loop id="myVideo">
            <source src="./img/bg.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div> -->

    <main id="main">
        <!-- === Header (Navbar) -->
        <header class="fixed-top">
            <nav class="navbar navbar-expand-md p-0">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{{ theme.logo.url|cut:'/admin_interface' }}" class="logo"
                            alt="Logo Image"></a>
                    <button class="navbar-toggler fs-24" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end mobile-nav" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <img src="./img/logo.png" class="logo" alt="Logo Image">
                            <button type="button" class="btn-close fs-24" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body align-items-center">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#our-products">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./contact-us.html">Contact Us</a>
                                </li>
                                <li class="nav-item d-block d-md-none">
                                    <a href="{{theme.whatsapp_url}} target="_blank" class="nav-link"><img
                                            src="https://www.techfnatic.com/img/whatsapp.svg" class="w-24px" alt="Whatsapp Icon"></a>
                                </li>
                            </ul>
                            <div class="d-none d-md-block">
                                <a href="{{theme.whatsapp_url}}" target="_blank"><img src="https://www.techfnatic.com/img/whatsapp.svg"
                                        class="w-24px" alt="Whatsapp Icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- ==== Banner Section ===== -->
        <section class="banner-section pt-5 mt-78px">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <!-- Banner left Col -->
                    <div class="col-md-6 col-xl-5 text-center text-md-start">
                        <h1 class="heading-1">Bring Your Ideas to life with <span
                                class="pseudo-border-bottom">TechFnatic</span></h1>
                        <p class="me-lg-4 mt-2rem">The one stop store for all your Technical Requirements. Help us
                            transform your business with all heavy lifting you need.</p>
                        <div>
                            <a href="#our-products" class="btn btn-main">Our Products</a>
                        </div>
                    </div> <!-- /. Banner Left Col -->

                    <!-- Banner Right Col -->
                    <div class="col-md-6 mt-5 mt-md-0">
                        <div class="">
                            <img src="https://www.techfnatic.com/img/banner-img.svg" alt="Banner Image">
                        </div>
                    </div> <!-- /. Banner Right Col -->
                </div>
            </div>
        </section>

        <!-- ==== Product Section ===== -->
        <section class="product-section pt-6rem" id="our-products">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-2 position-relative d-inline-block pseudo-border-left pseudo-border-right">Our
                        Products</h2>
                </div>
                <div class="row pt-2rem justify-content-between align-items-center">
                    <div class="col-12 pb-5">
                        <div class="product-slider">
                            <!-- First Product -->
                            {% for product in product_list%}
                            <div class="card product-card">
                                <div class="card-head position-relative">
                                    <img src="{{product.logo}}" class="card-img-top position-relative p-3"
                                        alt="Product Image">
                                </div>
                                <hr>
                                <div class="card-body mt-2">
                                    
                                    {{product.descrption|safe}}
                              

                                </div>
                            </div>
                            {% endfor %}
                            <!-- Second Product -->
                            
                            <!-- Third Product -->
            
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==== About us Section ===== -->
        <section class="about-section pt-6rem pb-2rem">
            <div class="container">
                <div class="row gx-md-5 justify-content-between align-items-center">
                    <!-- About left Col -->
                    <div class="col-md-5">
                        <div class="">
                            <img src="https://www.techfnatic.com/img/about-img.svg" alt="Banner Image">
                        </div>
                    </div> <!-- /. About Left Col -->

                    <!-- About Right Col -->
                    <div class="col-md-7 mt-5 mt-md-0">
                        <h2 class="heading-2">About us</h2>
                        <p class="me-lg-4 mt-3 fs-18">A Deeply Motivated and Technology Fanatic team, Developing
                            products with primary focus on Deep Learning, Artificial Intelligence, Machine Learning and
                            creating products which can solve real time problems across industries, predominantly
                            working on automating products and bringing in technology value addition to industries with
                            very little technology exposure.</p>
                    </div> <!-- /. About Right Col -->
                </div>
            </div>
        </section>

        <hr>

        <!-- ==== Footer Section ===== -->
        <section class="footer-section pt-2rem pb-2rem">
            <div class="container">
                <!-- Footer Header -->
                <div class="row justify-content-between">
                    <div class="col-6">
                        <img src="{{ theme.logo.url|cut:'/admin_interface' }}" class="logo" alt="Logo Image">
                    </div>
                    <div class="col-6">
                        <ul class="social-links d-flex justify-content-end mb-0 list-unstyled">
                            <li><a target="_blank" href="{{theme.facebook_url}}"><img
                                        src="https://www.techfnatic.com/img/facebook.svg" alt="Facebook Icon"></a></li>
                            <li><a target="_blank" href="{{theme.linked_url}}"><img
                                        src="https://www.techfnatic.com/img/linkedin.svg" alt="Linkedin Icon"></a></li>
                            <li><a target="_blank" href="{{theme.whatsapp_url}}"><img src="https://www.techfnatic.com/img/whatsapp.svg"
                                        alt="Whatsapp Icon"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Content -->
                <div class="row mt-4">
                    <!-- First Col -->
                    <div class="col-md-6 col-lg-4">
                        <ul class="footer-links mb-0 list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <!-- Second Col -->
                    <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <ul class="footer-links footer-contact mb-0 list-unstyled">
                            <li class="d-flex align-items-start">
                                <img src="https://www.techfnatic.com/img/envelope-fill.svg" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Email</h5>
                                    <a href="mailto:solution@techfnatic.com">solution@techfnatic.com</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <img src="https://www.techfnatic.com/img/telephone-fill.svg" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Phone</h5>
                                    <a href="tel:{{theme.phone_number}}">{{theme.phone_number}}</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <img src="https://www.techfnatic.com/img/geo-alt-fill.svg" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Address</h5>
                                    <a href="https://goo.gl/maps/2ZBTTgBj3jdfGwXm7" target="_blank">139, 4th Floor,
                                        Sterling Heights, Infantry Rd, Bengaluru, Karnataka 560001</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Third Col -->
                    <div class="col-md-12 col-lg-4 mt-4 mt-lg-0">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.839134134713!2d77.59633381413528!3d12.982138818161104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1714d2e763c3%3A0xaf89561c107d050!2sTechFNatic!5e0!3m2!1sen!2sin!4v1663663406435!5m2!1sen!2sin"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- ==== Bottom Footer Section ===== -->
        <section class="bottom-footer py-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <p class="fw-500 fs-16">Copyright © 2022 </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- jQuery Js -->
    <script src="{% static '/common/product/js/jQuery.js' %}"></script>
    <!-- Bootstrap-5.2 Js -->
    <script src="{% static '/common/product/js/bootstrap-5.2.js' %}"></script>
    <!-- Slick Slider Js -->
    <script src="{% static '/common/product/js/slick.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static '/common/product/js/main.js' %}"></script>

</body>

</html>